nav {
	background-color: #0B0C10;
	color: #C5C6C7;
}

nav a {
	text-decoration: none;
	color: #C5C6C7;
}
nav a:hover {
	color: #45A29E;
}
body {
	background-color: #1F2833;
}
#home-search {
	height: 90vh;
	width: 100%;
}
#home-search img {
	min-height: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
#home-search h1 {
	color: #66FCF1;
	text-align: center;
	padding-top: 10vh;
	font-size: 120px;
	font-family: 'Oswald', sans-serif;
}
.home-search, .home-search:focus {
	background-color: #1F2833;
	color: white;
}
.home-search::placeholder {
	color: #45A29E;
	opacity: 1;
}
.home-search.search-term {
	width: 200%;
}
.search-btn {
	background-color: #66FCF1;
	color: black;
}
.search-btn:hover {
	opacity: 50%;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 6vw;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
